// === MIXIN ===

@mixin scroll {
  &::-webkit-scrollbar {
    width: $base;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-dark-02;
    border-radius: none;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 $base $color-white-05;
    border-radius: none;
    height: $base;
    background-color: $color-white-09;
  }
}

@mixin roboto {
  font-family: 'Roboto', sans-serif;
}

@mixin forum {
  font-family: 'Forum', cursive;
}

// === / MIXIN ===

// === FUNCTIONS ===

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@function rem($num) {
  @return (strip-unit($num) / 16) * 1rem;
}

// === / FUNCTIONS ===

// === VARIABLES ===

$base: rem(5px);

$fw-thin: 100;
$fw-regular: 400;

$fs-xs: rem(18px);
$fs-s: rem(22px);
$fs-m: rem(28px);
$fs-l: rem(32px);
$fs-xl: rem(50px);
$fs-xxl: rem(80px);

$transition: 0.3s;
$transition-01: 0.1s;
$transition-02: 0.2s;

$color-white: rgba(255, 255, 255, 1);
$color-bg-dark: rgba(3, 3, 3, 1);
$color-dark-red: rgba(113, 7, 7, 1);
$color-font-gold: rgba(157, 134, 101, 1);

$breakpoint-xxs-min: 320px;
$breakpoint-xs-min: 480px;
$breakpoint-sm-min: 576px;
$breakpoint-md-min: 768px;
$breakpoint-lg-min: 992px;
$breakpoint-xl-min: 1200px;
$breakpoint-xxl-min: 1440px;

$breakpoint-xxxs-max: $breakpoint-xxs-min - 1px;
$breakpoint-xxs-max: $breakpoint-xs-min - 1px;
$breakpoint-xs-max: $breakpoint-sm-min - 1px;
$breakpoint-sm-max: $breakpoint-md-min - 1px;
$breakpoint-md-max: $breakpoint-lg-min - 1px;
$breakpoint-lg-max: $breakpoint-xl-min - 1px;
$breakpoint-xl-max: $breakpoint-xxl-min - 1px;

// === / VARIABLES ===
