@import "../../scss/Variables.scss";

.gallery__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: $base*15 0;
  margin-top: $base*20;

  @media (max-width: $breakpoint-lg-min) {
    justify-content: space-evenly;
    gap: $base*11 0;
    margin-top: $base*15;
  }

  @media (max-width: $breakpoint-md-min) {
    margin-top: $base*13;
    gap: $base*8 0;
  }

  @media (max-width: $breakpoint-xs-min) {
    margin-top: $base*13;
    gap: 38px 0;
  }

  .gallery__wrapper__item {
    display: flex;
    flex-direction: column;
    width: 31%;

    @media (max-width: $breakpoint-lg-min) {
      width: 34%;
    }

    @media (max-width: $breakpoint-md-min) {
      width: 38%;
    }

    @media (max-width: $breakpoint-xs-min) {
      width: 74%;
    }

    .gallery__wrapper__item__img {
      width: 100%;
      height: auto;
    }
  }
}