@import './sass/Constants.scss';

// === FONTS ===

@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url('./fonts/#{$file_name}.woff') format('woff'),
      url('./fonts/#{$file_name}.woff2') format('woff2');
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import './sass/Fonts.scss';

// === / FONTS ===

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

body {
  @include roboto;
  background-color: $color-white;
  margin: 0;

  &::-webkit-scrollbar {
    width: $base;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 $base rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-font-gold;
  }
}

.outer__container {
  max-width: $base * 384;
  margin: 0 auto;
  padding: 0;
}

.inner__container {
  max-width: $base * 288;
  margin: 0 auto;
  padding: $base * 28 $base * 48;

  @media (max-width: $breakpoint-xl-min) {
    padding: $base * 14 $base * 24;
  }

  @media (max-width: $breakpoint-lg-min) {
    padding: $base * 13 $base * 4;
  }

  @media (max-width: $breakpoint-md-min) {
    padding: $base * 12 $base * 4;
  }

  @media (max-width: $breakpoint-xs-min) {
    padding: $base * 8 $base * 4;
  }
}

.h1 {
  @include forum;
  position: relative;
  font-size: $fs-xxl;
  font-weight: $fw-regular;
  line-height: $base * 18;
  letter-spacing: $base;
  margin: 0;
  padding: 0;
  color: $color-font-gold;
  text-transform: uppercase;

  &::after {
    content: '';
    position: absolute;
    bottom: -$base * 5;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: $color-dark-red;

    @media (max-width: $breakpoint-lg-min) {
      bottom: -$base * 3;
    }

    @media (max-width: $breakpoint-md-min) {
      bottom: -$base * 5;
    }

    @media (max-width: $breakpoint-xs-min) {
      bottom: -$base * 5;
    }
  }

  @media (max-width: $breakpoint-lg-min) {
    font-size: $fs-xl;
  }

  @media (max-width: $breakpoint-md-min) {
    font-size: $base * 8;
    line-height: $base * 12;
  }

  @media (max-width: $breakpoint-xs-min) {
    font-size: $fs-m;
    line-height: $base * 8;
  }
}

.h2 {
  @include forum;
  position: relative;
  font-size: $fs-l;
  font-weight: $fw-regular;
  line-height: $base * 7;
  letter-spacing: $base;
  margin: $base * 5 0 0 0;
  padding: 0;
  color: $color-bg-dark;
  text-transform: uppercase;

  &::after {
    content: '';
    position: absolute;
    bottom: -$base * 2;
    left: 0;
    width: 68%;
    height: 2px;
    background-color: $color-dark-red;

    @media (max-width: $breakpoint-lg-min) {
      width: 46%;
    }

    @media (max-width: $breakpoint-md-min) {
      width: 54%;
      bottom: -$base;
    }
  }

  @media (max-width: $breakpoint-lg-min) {
    font-size: $fs-m;
    letter-spacing: 3px;
    margin: $base * 4 0 0 0;
  }

  @media (max-width: $breakpoint-md-min) {
    font-size: $fs-s;
    margin: $base * 4 0 0 0;
  }

  @media (max-width: $breakpoint-xs-min) {
    margin: $base * 3 0 0 0;
  }
}

.h3 {
  @include roboto;
  font-size: $fs-s;
  font-weight: $fw-thin;
  line-height: $base * 5;
  margin: $base * 4 0 0 0;
  padding: 0;
  color: $color-bg-dark;

  @media (max-width: $breakpoint-lg-min) {
    font-size: $base * 4;
  }

  @media (max-width: $breakpoint-md-min) {
    font-size: $fs-xs;
    margin: $base * 3 0 0 0;
  }

  @media (max-width: $breakpoint-xs-min) {
    font-size: 16px;
    margin: $base * 2 0 0 0;
  }
}

.h4 {
  @include roboto;
  font-size: $fs-xs;
  font-weight: $fw-thin;
  line-height: $base * 4;
  margin: $base * 2 0 0 0;
  padding: 0;
  color: $color-bg-dark;

  @media (max-width: $breakpoint-lg-min) {
    font-size: 16px;
  }

  @media (max-width: $breakpoint-md-min) {
    margin: $base 0 0 0;
  }

  @media (max-width: $breakpoint-xs-min) {
    font-size: 16px;
    margin: $base * 2 0 0 0;
  }
}

.link {
  text-decoration: none;
  color: $color-bg-dark;
}
