// === MIXIN ===

@mixin roboto {
  font-family: 'Roboto', sans-serif;
}

@mixin forum {
  font-family: 'Forum', cursive;
}

@mixin flexSpaceAround {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@mixin flexSpaceBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

// === / MIXIN ===

// === FUNCTIONS ===

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@function rem($num) {
  @return (strip-unit($num) / 16) * 1rem;
}

// === / FUNCTIONS ===

// === VARIABLES ===

$base: rem(5px);

$fw-thin: 100;
$fw-regular: 400;

$fs-xs: rem(18px);
$fs-s: rem(22px);
$fs-m: rem(28px);
$fs-l: rem(32px);
$fs-xl: rem(80px);

$transition: .3s;

$color-white: #FFFFFF;
$color-bg-dark: #030303;
$color-dark-red: #710707;
$color-font-gold: #9D8665;

$breakpoint-xxs-min: 320px;
$breakpoint-xs-min: 420px;
$breakpoint-sm-min: 576px;
$breakpoint-md-min: 768px;
$breakpoint-lg-min: 1024px;
$breakpoint-xl-min: 1200px;
$breakpoint-xxl-min: 1440px;
$breakpoint-xxxl-min: 1920px;

$breakpoint-xxxs-max: $breakpoint-xxs-min - 1px;
$breakpoint-xxs-max: $breakpoint-xs-min - 1px;
$breakpoint-xs-max: $breakpoint-sm-min - 1px;
$breakpoint-sm-max: $breakpoint-md-min - 1px;
$breakpoint-md-max: $breakpoint-lg-min - 1px;
$breakpoint-lg-max: $breakpoint-xl-min - 1px;
$breakpoint-xl-max: $breakpoint-xxl-min - 1px;

$calcWidth: 100%;

// === / VARIABLES ===